<!--<p appDirectivaInicial color="red" tamano="5" >ssss</p>-->
<router-outlet></router-outlet>
<p><a routerLink="/detalle/Raul">Ir</a>
</p>
<p>
<a routerLink="/detalle/Eduardo">Ir</a>
</p>
<p>
<a routerLink="/detalle/Felipe">Ir</a>
</p>
<table>
    <tr>
      <td *ngFor="let item of getKeys(arrayCard)">
            <a routerLink="/detalle/{{item}}">
                <app-card-presentation [objPersona] = "getCard(item)"></app-card-presentation>      
            </a>
      </td>  
    </tr>
</table>
<!--<div *ngFor="let item of getKeys(arrayCard)">
    <app-card-presentation [objPersona] = "getCard(item)"></app-card-presentation>
</div> -->

